<div class="container">
    <h1>home works!</h1>

    <p>This is just a demo-Page, choose the navigation to change the page.</p>

    <p>
        Current language: {{ currentLanguage }}
    </p>

    <button (click)="switchLanguage('en')">Switch language: EN</button>
    <button (click)="switchLanguage('de')">Switch language: DE</button>

    <div class="menu">
        <ul>
            <li><a [routerLink]="'/'">Home</a></li>
            <li><a [routerLink]="'about'">About</a></li>
        </ul>
    </div>

    <div *ngxIfConsent="'functional_google_maps'">
        This content is only visible if functional_google_maps consent is given.
    </div>
    <div *ngxIfConsent="'marketing_google_analytics'">
        This content is only visible if marketing_google_analytics consent is given.
    </div>
</div>


